.page, body {
    background-color: #fbf9fe
}
.point-outer{
    position:absolute;
    z-index:20;
    -webkit-transition:all 0.8s cubic-bezier(0.39,-0.4,0.83,0.23) 0s;
}
.point-inner{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#ff6326;
    -webkit-transition:all 0.8s linear 0s;
}
.point-outer.point-pre{
    display:none;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
}

.container .left {
  width: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container .right {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  margin:0 5px;
}

.navigation_bar {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  height: 50px;
  background-color: #00b5ad;
  font-size: 20px;
  color: #FFF;
}

.navigation_bar .left, .navigation_bar .right {
  width: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0 10px;
  padding-top: 5px;
}

.navigation_bar .right {
  text-align: right;
  -webkit-box-ordinal-group:2;
  -moz-box-ordinal-group:2;
}

.navigation_bar .middle {
  font-size: 17px;
  padding-top: 10px;
  text-align: center;
  -webkit-box-flex:1;
  -moz-box-flex:1;
  -webkit-box-ordinal-group:2;
  -moz-box-ordinal-group:2;
}

.shop_header {
  background-color: #00b5ad;
}

.profile_header {
  background-color: #00b5ad;
}

.check_header {
  background-color: #00b5ad;
}

.shop_card {
  img {
    width: 100px;
    height: 100px;
  }
}

i.icon-wallet {
    color: #f90
}

i.icon-order {
  color: #4AA5F0;
}

i.icon-lluckybag {
    color: #ff5f3e
}

i.icon-profile-coins, i.icon-service-phone {
    color: #6ac20b
}
