.point-outer{
    position:absolute;
    z-index:20;
    -webkit-transition:all 0.8s cubic-bezier(0.39,-0.4,0.83,0.23) 0s;
}
.point-inner{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#ff6326;
    -webkit-transition:all 0.8s linear 0s;
}
.point-outer.point-pre{
    display:none;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
}

.container .left {
  width: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container .right {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  margin:0 5px;
}



.shop_header {
  background-color: #00b5ad;
}

.profile_header {
  background-color: #00b5ad;
}

.check_header {
  background-color: #00b5ad;
}

.shop_card {
  img {
    width: 100px;
    height: 100px;
  }
}
