.ui.menu {
  border-radius: 0rem;
}

.point-outer{
    position:absolute;
    z-index:20;
    -webkit-transition:all 0.8s cubic-bezier(0.39,-0.4,0.83,0.23) 0s;
}
.point-inner{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#ff6326;
    -webkit-transition:all 0.8s linear 0s;
}
.point-outer.point-pre{
    display:none;
}

.shop-header {
  background:#2d3b36 url(./header.jpg) no-repeat;
  background-size: cover;
  border: solid 1px transparent;
}

.profile-header {
  background-color: #00b5ad;
  border: solid 1px transparent;
}

.vux-flexbox-item {
  border-right: solid 1px #ddd;
}

.vux-flexbox-item:last-child {
  border-right: solid 0px #ddd;
}

.shop-card {
  padding: 15px;
  img {
    width: 100px;
    height: 100px;
  }
}
