<div class="navbar navbar-light bg-faded navigation">
  <a class="nav-link btn btn-primary-outline btn-sm" href="<%= request.referrer %>">
    <i class="fa fa-arrow-left"></i> 返回
  </a>
  <% if action_name == 'index' %>
  <%= link_to cpanel_market_orders_path, :class =>  "nav-link btn btn-primary-outline btn-sm pull-right", :method => :post do %>
    <i class="fa fa-plus"></i> 生成采购单
  <% end %>
  <% end %>
</div>