<div class="navbar navbar-light bg-faded navigation">
  <a class="nav-link btn btn-primary-outline btn-sm" href="<%= request.referrer %>">
    <i class="fa fa-arrow-left"></i> 返回
  </a>
  <% if action_name == 'index' %>
  <div class="btn-group pull-right">
    <a class="nav-link btn btn-primary-outline btn-sm" href="<%= read_all_cpanel_notifications_path %>">
      <i class="fa fa-bell-slash-o">全部已读</i>
    </a> 
    <a class="nav-link btn btn-primary-outline btn-sm" href="<%= clear_cpanel_notifications_path %>">
      <i class="fa fa-trash-o"></i> 清空
    </a>
  </div>
  <% end %>
</div>