<section class="company-info">
  <div class="company-logo">
  </div>
  <div class="company-name">
    简餐
  </div>
  <p class="company-say">
    智能些，简单些
  </p>
  <div class="app-downs">
    <ul class="list-unstyled list-inline">
      <li>
        <div class="down-name">
          服务员 APP：
        </div>
        <div class="down-links">
          <a href="#" class="btn btn-primary btn-lg">
            <i class="fa fa-android"></i> 立即下载
          </a>
          <a href="#" class="btn btn-primary btn-lg">
            <i class="fa fa-apple"></i> App store
          </a>
        </div>
      </li>
      <li style="padding-left:25px;">|</li>
      <li>
        <div class="down-name">
          厨房 APP：
        </div>
        <div class="down-links">
          <a href="#" class="btn btn-primary btn-lg">
            <i class="fa fa-android"></i> 立即下载
          </a>
          <a href="#" class="btn btn-primary btn-lg">
            <i class="fa fa-apple"></i> App store
          </a>
        </div>
      </li>
      <!--
      <li>
        <div class="down-name">
          用户 APP：
        </div>
        <div class="down-links">
          <a href="#" class="btn btn-primary btn-lg">
            <i class="fa fa-android"></i> 立即下载
          </a>
          <a href="#" class="btn btn-primary btn-lg">
            <i class="fa fa-apple"></i> App store
          </a>
        </div>
      </li>
    -->
    </ul>
  </div>
  <p class="app-info">
    官网版本：1.0  |  运行环境：android 4.4 以上、ios 8 以上
  </p>
  <p class="app-info">
    Copyright 2013 &copy; - <a href="#">动起来软件公司</a> - <a href="http://www.miibeian.gov.cn/">粤ICP备15005696号-2</a>
  </p>
</section>
