<% if @activity.blank? %>
<div class="page">
  <div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
    <div class="weui_text_area">
      <h2 class="weui_msg_title">页面加载错误</h2>
      <p class="weui_msg_desc">页面内容加载错误，请关闭页面！</p>
    </div>
    <div class="weui_opr_area">
      <p class="weui_btn_area">
        <a href="javascript:;" class="weui_btn weui_btn_primary">确定</a>
        <a href="javascript:;" class="weui_btn weui_btn_default">取消</a>
      </p>
    </div>
  </div>
</div>

<% else %>
<div class="bd">
  <div class="weui_grids">
    <article class="weui_article">
      <h1><%= @activity.shop.name %> - <%= @activity.title %></h1>
      <section>
        <p>
          <%= @activity.details %>
        </p>
      </section>
    </article>
    <table class="ui very basic collapsing celled table">
      <tr>
        <td>
          <% if @target_user.blank? %>
          <form class="ui form">
            <div class="field">
              <input type="text" name="mobile" value="" placeholder="输入手机号码" />
            </div>
          </form>
          <a class="weui_btn weui_btn_primary">绑定</a>
          <% else %>
          <a class="weui_btn weui_btn_primary">为他点赞</a>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
<% end %>
