/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require font-awesome-plug
 *= require_self
 */

@import "vars";

body {
  background: #f2f9fe;;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  .pull-center {
    margin-left: 40%;
  }

  .navbar {
    height: 80px;
    padding-top: 20px;
    border-bottom: solid 1px #ccc;
    border-radius: 0px;
    background-color: #FFF;

    .cart-count, .notification-count {
      .count { margin-left: 4px; display: none; font-size: 12px;}
      .new {
        color: $redLight !important;
        .count { display: inline; }
      }
    }

    .form-search {
      .fa-search {
        margin-left: -30px;
      }
    }
  }
}

.sidebar {
  .list-group {
    a, a:hover {
      color: #036ebe;
    }
    a.active, a.active:hover {
      color: #ffffff;
    }
  }
}

.right-content {
  background-color: #FFF;

  .navbar {
    height: 60px;
    padding-top: 10px;
    border-radius: 0px;
    background-color: #FFF; 
  }

  .content-form {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

}

.form-control {
  border-radius: 0px;
  border-color: #D5DCE1;
  border: 0px;
  border-bottom: 1px solid #D5DCE1;
  box-shadow: inset 0 0px 0px #fff !important;
  padding: 6px 0px 6px 0;
  transition:none;
  &:focus { box-shadow: inset 0 0px 0px #fff; padding: 6px 0px 5px 0; border-bottom: 2px solid $blueLight; }
  &[disabled], &[readonly] {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f9f9f9;
  }
}