/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require nprogress
 *= require font-awesome-plug
 *= require_self
 */

@import "vars";

body {
  background: #f2f9fe;;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  .navbar {
    height: 80px;
    padding-top: 20px;
    border-bottom: solid 1px #ccc;
    border-radius: 0px;
    background-color: #FFF;

    .cart-count, .notification-count {
      .count { margin-left: 4px; display: none; font-size: 12px;}
      .new {
        color: $redLight !important;
        .count { display: inline; }
      }
    }
  }
}

.sidebar {
  .list-group {
    a, a:hover {
      color: #036ebe;
    }
    a.active, a.active:hover {
      color: #ffffff;
    }
  }
}

.right-content {
  background-color: #FFF;

  .navbar {
    height: 60px;
    padding-top: 10px;
    border-radius: 0px;
    background-color: #FFF; 
  }

  .content-form {
    margin-top: 20px;
  }

}