/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require font-awesome-plug
 *= require_self
 */

@import "vars";

body {
  background: #f2f9fe;;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  .pull-center {
    margin-left: 40%;
  }

  .navbar {
    height: 80px;
    padding-top: 20px;
    border-bottom: solid 1px #ccc;
    border-radius: 0px;
    background-color: #FFF;

    .cart-count, .notification-count {
      .count { margin-left: 4px; display: none; font-size: 12px;}
      .new {
        color: $redLight !important;
        .count { display: inline; }
      }
    }

    .form-search {
      .fa-search {
        margin-left: -30px;
      }
    }
  }

  .merchant-bar {
    .dropdown-toggle { display: block; }
    .navbar-toggle { display: none;   padding: 6px 8px; margin: 0;}
  }

  @media (max-width: 767px) {
    .navbar-header {
      text-align: center;
      padding: 2px 0;
      .navbar-brand {
        font-size: 12px; float: none; margin: 0 auto;
        height: auto; padding: 0px 10px;
      }
    }
    .navbar-nav { float: left; margin: 0px; }
    .navbar-nav>li { float: left; }
    .navbar-nav.navbar-right { float:right; }
    .info-bar { display: none; }
    .form-search {
      .fa-search {
        display: none;
      }
    }
  }
  @media (max-width: 1024px) {
    .merchant-bar {
      .dropdown-toggle { display: none; }
      .navbar-toggle { display: block; border-radius: 0px; }
      .dropdown.open .navbar-toggle {
        background-color: $grayDark;
      }
    }
  }
}

.sidebar {
  .list-group {
    a, a:hover {
      color: #036ebe;
    }
    a.active, a.active:hover {
      color: #ffffff;
    }
    .orderTips {
      display: none;
    }
    .new {
      .orderTips {
        margin-top:3px;
        background-color: $redLight;
        display: inline;
      }
    }
  }
}

.right-content {
  background-color: #FFF;

  .navbar {
    height: 60px;
    padding-top: 10px;
    border-radius: 0px;
    background-color: #FFF;

    .title {
      margin-left: 35%;
    }
  }

  td {
    vertical-align: middle;
  }

  .content-form {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .selectProductForOrder {
    display:none;
    color: $redLight;
  }

}

.form-control {
  border-radius: 0px;
  border-color: #D5DCE1;
  border: 0px;
  border-bottom: 1px solid #D5DCE1;
  box-shadow: inset 0 0px 0px #fff !important;
  padding: 6px 0px 6px 0;
  transition:none;
  &:focus { box-shadow: inset 0 0px 0px #fff; padding: 6px 0px 5px 0; border-bottom: 2px solid $blueLight; }
  &[disabled], &[readonly] {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f9f9f9;
  }
}

.bg-base-1 {
  background: #5d67dd;
  color: #fff
}

.bg-base-2 {
  background: #ff005d;
  color: #fff
}


.price-tablelist {
  font-size: 13px;
}
.price-tablelist .head {
  padding: 25px 0
}

.price-tablelist .head .pricing-title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 600
}

.price-tablelist .head .pricing-subtitle {
  color: #ccc
}

.price-tablelist .price-choose {
  height: 120px;
  font-size: 30px;
  line-height: 120px;
  border: 1px solid #f1f1f1;
  border-bottom: 0;
}

.price-tablelist .price {
  height: 120px;
  line-height: 120px;
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1
}

.price-tablelist .pricing-col:last-child .price {
  border-right: 1px solid #f1f1f1
}

.price-tablelist .price .pricing-currency {
  font-size: 30px
}

.price-tablelist .price .pricing-price {
  font-weight: 700;
  font-size: 60px;
  color: #333
}

.price-tablelist .price span {
  font-size: 18px
}

.price-tablelist .col-md-4, .price-tablelist .col-md-2 {
  margin: 0;
  padding: 0;
  padding-bottom: 30px
}

.price-tablelist .pricing-col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #f1f1f1;
  transition: color .75s ease-in-out
}

.price-tablelist .pricing-col:last-child ul {
  border-right: 1px solid #f1f1f1
}

.price-tablelist .pricing-col ul:hover {
  transition: color .75s ease-in-out
}

.price-tablelist li {
  padding: 12px 0;
  margin: 0 20px;
  list-style-type: none;
  border-color: #f1f1f1;
  border-bottom: 1px dashed #f1f1f1
}

.price-tablelist li:last-child {
  border: 0
}

.price-tablelist li a {
  text-decoration: none;
  display: block;
  width: 200px;
  -webkit-transition: font-size .3s ease, background-color .3s ease;
  -moz-transition: font-size .3s ease, background-color .3s ease;
  -o-transition: font-size .3s ease, background-color .3s ease;
  -ms-transition: font-size .3s ease, background-color .3s ease;
  transition: font-size .3s ease, background-color .3s ease
}

.price-tablelist .pricing-col ul li a:hover {
  font-size: 30px;
  background: #f6f6f6
}

.price-tablelist .pricing-col ul li .fa-close {
  color: #cf000f
}

.price-tablelist .pricing-col ul li .fa-check {
  color: #26a65b
}

.price-tablelist ul.price-features li {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px
}

.price-tablelist ul.price-features li i, .price-tablelist .col-feature i {
  margin-right: 10px;
  color: #5d67dd
}

.price-tablelist ul.price-features {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #f1f1f1;
  transition: color .75s ease-in-out
}

.price-tablelist ul.price-features:hover {
  color: inherit
}

.price-tablelist ul.price-features li {
  transition: color .75s ease-in-out
}

.price-tablelist ul.price-features li:hover {
  color: #5d67dd;
  transition: color .75s ease-in-out
}

.price-tablelist .pricing-col .footer {
  padding: 15px 0
}
