
.page-home .page-footer {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.page-home {
    #background-color: #c3cfd9;
    #background: none repeat-x;
}

.page-home #home-bg {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #517fa4;
    background-image: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/shared/noise-1.png"), -webkit-gradient(linear, left top, left bottom, from(#517fa4), to(#306088));
    background-image: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/shared/noise-1.png"), -webkit-linear-gradient(top, #517fa4, #306088);
    background-image: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/shared/noise-1.png"), -moz-linear-gradient(top, #517fa4, #306088);
    background-image: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/shared/noise-1.png"), -o-linear-gradient(top, #517fa4, #306088);
    background-image: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/shared/noise-1.png"), -ms-linear-gradient(top, #517fa4, #306088);
    background-image: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/shared/noise-1.png"), linear-gradient(top, #517fa4, #306088);
    background-position: 50% 50%;
}

.page-home .wrap {
    position: relative;
    width: 880px;
    margin: 0 auto;
}

.page-home .wrap:before, .page-home .wrap:after {
    content: "";
    display: block;
    overflow: hidden;
}

.page-home .wrap:after {
    clear: both;
}

.page-home .wrap {
    zoom: 1;
}

.page-home .home-phones {
    background: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/homepage/home-phones.png") no-repeat 0 80px;
    background-size: 454px 618px;
    bottom: 46px;
    height: 618px;
    left: -80px;
    margin-left: 4px;
    padding-top: 80px;
    position: absolute;
    top: -10px;
    width: 454px;
}

.page-footer {
    position: relative;
    margin-top: -48px;
    z-index: 20;
}

.wrapper {
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
    width: 992px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .page-home .home-phones {
        background-image: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/homepage/home-phones@2x.png");
    }
}

.page-home #iphone-overlay {
    position: absolute;
    top: 173px;
    left: 132px;
}

.page-home #iphone-overlay img {
    position: absolute;
    height: 427px;
    width: 240px !important;
    z-index: 8;
}

.page-home #iphone-overlay img.active {
    z-index: 10;
}

.page-home #iphone-overlay img.last-active {
    z-index: 9;
}

.page-home .content {
    float: right;
    position: relative;
    width: 520px;
    margin-top: 30px;
}

.page-home .content .instagram-title {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 314px;
    height: 78px;
    background: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/homepage/brand-header-simple.png") no-repeat 0 0;
    text-indent: -9999em;
}

.page-home .content .tab {
    margin-top: 170px;
    background: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/homepage/content-background.png") 6px 6px no-repeat;
}

.page-home .content .tab-content {
    padding: 40px 56px 128px 48px;
}

.page-home .content .home-login {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 1px 0 0 rgba(255, 255, 255, 0.05), inset -1px 0 0 rgba(255, 255, 255, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
    position: absolute;
    right: 18px;
    top: 96px;
    padding: 13px 13px 12px 42px;
    font-size: 16px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.page-home .content .home-login.ButtonActive, .page-home .content .home-login.button-active,
.page-home .content .home-login.active, .page-home .content .home-login:active, html.touch .page-home .content .home-login.pressed {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.2);
}

.page-home .content .home-login i {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 40px;
    background: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/shared/shared-assets.png") no-repeat 4px -196px;
}

.page-home h1 {
    color: #3f729b;
    font-size: 1.8em;
    line-height: 1.0em;
}

.page-home .tab-content img.meet-instagram {
    margin-bottom: 1em;
}

.page-home .platform-badge-container {
    position: absolute;
    margin-top: 25px;
}

.page-home .platform-badge {
    margin-right: 16px;
}

.page-home .platform-badge img.platform-badge-image {
    height: 45px;
}

.home-megaphone-wrapper {
    text-align: center;
    margin: 0 0 32px;
}

.home-megaphone {
    display: inline-block;
    margin: 0 auto;
    padding: 13px 20px 3px 84px;
    background: #fafafa url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/homepage/home-megaphone-live.png") no-repeat 10px 8px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.95);
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

.home-megaphone i {
    position: absolute;
    left: 8px 8px;
}

.page-home .page {
    min-height: 700px;
}

.page-home .top-bar {
    background: none !important;
    border: none;
    box-shadow: none;
}

.page-home .top-bar hgroup {
    display: none;
}

.page-home .page-footer {
    margin-top: 0;
}

.page-home .page-footer .wrapper {
    width: 840px;
}

.page-footer {
    font-size: 12px;
    line-height: 16px;
}

.page-footer nav, .page-footer p {
    text-transform: uppercase;
    font-weight: bold;
}

.page-footer nav a {
    margin-left: 10px;
    font-size: 18px;
}

.page-footer p {
    color: #999999;
    color: rgba(0, 0, 0, 0.3);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .page-home .content .instagram-title {
        background-image: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/homepage/brand-header-simple@2x.png");
        background-size: 314px 78px;
    }

    .page-home .content .tab {
        background-image: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/homepage/content-background@2x.png");
        background-size: 505px 284px;
    }
}

.tab-content h1 {
    font-size: 27px;
    line-height: 32px;
    margin-right: 35%;
    color: #06365f;
}

.tab-content p {
    font-size: 16px;
    line-height: 24px;
}

.spring-refresh .tab-content h1 {
    color: #2B2D2E;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 5px 0;
}

.spring-refresh .tab-content p {
    font-size: 15px;
    line-height: 20px;
}

.spring-refresh .root {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.spring-refresh.page-home .top-bg {
    background: #125688;
    flex: 1 0 236px;
    -webkit-flex: 1 0 236px;
    min-height: 236px;
}

.spring-refresh.page-home .home-main {
    flex: 0 0 382px;
    -webkit-flex: 0 0 382px;
}

.spring-refresh.page-home .splash-middle {
    flex: 1 0 20px;
    -webkit-flex: 1 0 20px;
}

.spring-refresh.page-home .page-footer {
    flex: 0 0 32px;
    -webkit-flex: 0 0 32px;
}

@media (min-height: 750px) {
    .spring-refresh.page-home .page-footer {
        padding-bottom: 40px;
    }
}

.spring-refresh.page-home .home-phones {
    background-position: 0 0;
    bottom: auto;
    float: left;
    left: auto;
    margin: 0 0 -240px;
    padding: 0;
    position: relative;
    top: -240px;
}

.spring-refresh.page-home .home-content {
    margin: 0 auto;
    width: 920px;
}

.spring-refresh.page-home #iphone-overlay {
    left: 132px;
    top: 93px;
}

body.spring-refresh.page-home {
    background: #fbfbfb;
    color: #565a5c;
}

.spring-refresh.page-home .instagram-title {
    background: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/homepage/brand-solid-white.png") no-repeat 0 0;
    height: 59px;
    left: -7px;
    margin-top: 1px;
    position: relative;
    text-indent: -9999em;
    width: 207px;
}

.spring-refresh.page-home .login-only .instagram-title {
    display: inline-block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .spring-refresh.page-home .instagram-title {
        background-image: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/homepage/brand-solid-white@2x.png");
        background-size: 207px 59px;
    }
}

.spring-refresh.page-home .right-column {
    float: left;
    position: relative;
}

.spring-refresh.page-home .home-header {
    position: absolute;
    top: -150px;
}

.spring-refresh.page-home .home-header.login-only {
    top: -110px;
}

.spring-refresh .home-account-links {
    font-size: 20px;
    left: -3px;
    letter-spacing: 0.4px;
    margin-left: 3px;
    margin-top: 2px;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
}

.spring-refresh .login-only .home-account-links {
    display: inline-block;
    background-color: white;
    padding: 6px 14px;
    border-radius: 3px;
    top: 8px;
    position: absolute;
    left: auto;
    right: -180px;
}

.spring-refresh .home-account-link,
.spring-refresh .home-account-link:active {
    color: #ffffff;
}

.spring-refresh.page-home .login-only .home-account-link,
.spring-refresh.page-home .login-only .home-account-link:active {
    color: #125688;
    margin-right: 0;
}

.spring-refresh.page-home .home-account-link {
    margin-right: 32px;
    text-transform: uppercase;
}

.spring-refresh.page-home .content {
    float: none;
    margin-top: 50px;
    position: static;
    width: 405px;
}

.spring-refresh.page-home .content .tab {
    background: transparent;
    margin: 0;
}

.spring-refresh.page-home .content .tab-content {
    padding: 0;
}

.spring-refresh.page-home #reactModalMountPoint {
    display: none;
}

.page-accounts .reason,
.page-accounts .waiting {
    display: none;
}

.page-accounts .main .remove-account {
    float: right;
    display: inline;
    margin-right: 0;
    margin-top: -38px;
}

.page-accounts .password-reset iframe {
    display: none;
}

.page-accounts .password-reset p:not(.form-text):not(.form-actions) {
    display: none;
}

.page-accounts .password-reset-in-app-promo {
    margin: 2em 0;
    text-align: center;
}

.page-accounts .password-reset-in-app-promo div {
    margin-bottom: 0.3em;
}

.page-accounts .badgeHeader {
    position: relative;
    margin: 0;
    padding: 0 0 30px !important;
    background: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/badges/badges-header-bg.png") no-repeat 100% 100%;
}

.page-accounts .badgeHeader i {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 298px;
    height: 94px;
    background: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/badges/badges-header-icons.png") no-repeat 0 0;
    opacity: 0.5;
}

.page-accounts #badgeSteps {
    clear: both;
    min-height: 290px;
    /* don't reflow when components pop in */
}

.page-accounts .badgesCustom {
    position: relative;
    padding: 20px 0 40px 0;
    background: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/badges/badges-footer-bg.png") no-repeat 100% 0;
}

.page-accounts .badgesCustom i {
    width: 200px;
    height: 200px;
    background: url("//instagramstatic-a.akamaihd.net/bluebar/c030a3b/images/badges/badges-glyph.png") no-repeat 0 0;
    float: right;
    display: inline;
    margin: -10px 0 0 20px;
}

.page-accounts .badgesCustom small {
    display: block;
}

.page-accounts .badgeHeader p {
    color: black;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    margin-right: 36%;
}

.page-accounts .badgesCustom {
    font-size: 16px;
    line-height: 25px;
}

.page-accounts .badgesCustom small {
    line-height: 15px;
    color: #999999;
}

@media screen and (max-width: 800px) {
    .badgeHeader {
        padding-bottom: 50px !important;
    }

    .badgeHeader i {
        left: 50%;
        margin-left: -149px;
    }

    .badgeHeader p {
        margin-right: 25%;
    }
}

@media screen and (max-width: 480px) {
    .badgesHeader, .badgesCustom {
        background-image: none;
    }
}

@media screen and (max-width: 320px) {
    #recaptcha_widget_div {
        margin-top: -35px;
        margin-left: -20px;
    }
}

.api-doc {
  .route-list {
    padding: 20px 0;
    border-right: 2px dashed #ddd;
    li { 
      line-height: 200%;  color:#999;
      a:link,
      a:visited { color: #404040 !important; text-decoration: underline !important; }
    }
    
  }
  .route {
    margin-top: 15px;
    h5 { 
      color: #333; 
      border-bottom: 1px solid #ccc;
      margin: 0; margin-bottom: 10px;
      padding: 5px 0 0 0;
      label { 
        font-size: 12px;
        font-weight: normal; display: inline-block; width: 50px; color: #000; 
      }
    }
    .content { margin: 0 15px; width: 100%; }
    .desc {
      h4 { border: 0px; font-size: 13px !important; margin:0; color: #999; }
    }
    h6 { color: #999; }
    table.params {
      td.field { width: 80px; }
      td.type { width: 70px; }
      td.required { width: 50px; }
      td.values { width: 180px; }
      td.default { width: 100px; }
      
    }
  }
}