<div class="row  price-tablelist">
  <!-- List Of features -->
  <div class="col-md-3">
    <!-- Pricing head -->
    <div class="head no-border">
        <h4 class="pricing-title">&nbsp;</h4>
        <span class="pricing-subtitle">&nbsp;</span>
    </div>

    <!-- Pricing label -->
    <div class="price-choose text-center">选择方案</div>

    <!-- Features -->
    <ul class="price-features">
        <li><i class="fa fa-user-plus"></i>员工人数</li>
        <li><i class="fa fa-database"></i>商品数量</li>
        <li><i class="fa fa-leanpub"></i>台桌数量</li>
        <li><i class="fa fa-archive"></i>客服支持</li>
        <li><i class="fa fa-location-arrow"></i>小票打印机</li>
        <li><i class="fa fa-folder-o"></i>库存功能</li>
        <li><i class="fa fa-weixin"></i>微信功能</li>
        <li><i class="fa fa-tachometer"></i>广告推广</li>
        <li><i class="fa fa-calendar-o"></i>数据分析</li>
    </ul>
  </div>

   <!-- First List -->
  <div class="col-md-3 text-center pricing-col">
    <div class="head bg-base-2">
        <h4 class="pricing-title">免费版</h4>
        <span class="pricing-subtitle">免费提供使用</span>
    </div>

    <!-- Pricing label -->
    <div class="price">
        <span class="pricing-currency">¥</span>
        <span class="pricing-price">0</span>
        <span>/月</span>
    </div>
    <ul>
        <li>
            <span class="hidden-md hidden-lg col-feature">
                <i class="fa fa-user"></i>
            </span>
            不限
        </li>
        <li>
            <span class="hidden-md hidden-lg col-feature">
                <i class="fa fa-database"></i>
            </span>
            不限
        </li>
        <li>
            <span class="hidden-md hidden-lg col-feature">
                <i class="fa fa-database"></i>
            </span>
            不限
        </li>
        <li>
            <span class="hidden-md hidden-lg col-feature">
                <i class="fa fa-user"></i>
            </span>
            24小时 X 7天
        </li>
        <li>
            <span class="hidden-md hidden-lg col-feature">
                <i class="fa fa-user"></i>
            </span>
            购买
        </li>
        <li>
            <span class="hidden-md hidden-lg col-feature">
                <i class="fa fa-database"></i>
            </span>
            无
        </li>
        <li>
            <span class="hidden-md hidden-lg col-feature">
                <i class="fa fa-weixin"></i>
            </span>
            无
        </li>
        <li>
            <span class="hidden-md hidden-lg col-feature">
                <i class="fa fa-user"></i>
            </span>
            无
        </li>
        <li>
            <span class="hidden-md hidden-lg col-feature">
                <i class="fa fa-user"></i>
            </span>
            无
        </li>

        <li class="footer">
            <button class="btn btn-block btn-lg btn-primary disabled">购买</button>
        </li>
    </ul>
  </div>

  <!-- Second List -->
  <div class="col-md-3 text-center pricing-col">
       <div class="head bg-base-1">
           <h4 class="pricing-title">专业版</h4>
           <span class="pricing-subtitle">面对需求大的客户</span>
       </div>

       <!-- Pricing label -->
       <div class="price">
           <span class="pricing-currency">¥</span>
           <span class="pricing-price">19</span>
           <span>/月</span>
       </div>
       <ul>
           <li>
               <span class="hidden-md hidden-lg col-feature">
                   <i class="fa fa-user"></i>
               </span>
               不限
           </li>
           <li>
               <span class="hidden-md hidden-lg col-feature">
                   <i class="fa fa-database"></i>
               </span>
               不限
           </li>
           <li>
               <span class="hidden-md hidden-lg col-feature">
                   <i class="fa fa-database"></i>
               </span>
               不限
           </li>
           <li>
               <span class="hidden-md hidden-lg col-feature">
                   <i class="fa fa-user"></i>
               </span>
               24小时 X 7天
           </li>
           <li>
               <span class="hidden-md hidden-lg col-feature">
                   <i class="fa fa-user"></i>
               </span>
               购买
           </li>
           <li>
               <span class="hidden-md hidden-lg col-feature">
                   <i class="fa fa-database"></i>
               </span>
               有
           </li>
           <li>
               <span class="hidden-md hidden-lg col-feature">
                   <i class="fa fa-weixin"></i>
               </span>
               有
           </li>
           <li>
               <span class="hidden-md hidden-lg col-feature">
                   <i class="fa fa-user"></i>
               </span>
               无
           </li>
           <li>
               <span class="hidden-md hidden-lg col-feature">
                   <i class="fa fa-user"></i>
               </span>
               无
           </li>

           <li class="footer">
               <button class="btn btn-block btn-lg btn-primary">购买</button>
           </li>
       </ul>
  </div>
  <!-- Other List -->
  <div class="col-md-3 text-center pricing-col">
       <div class="head bg-base-2 bt-rad-right3">
           <h4 class="pricing-title">企业版</h4>
           <span class="pricing-subtitle">提供额外的需求</span>
       </div>

       <!-- Pricing label -->
       <div class="price">
           <span class="pricing-currency">¥</span>
           <span class="pricing-price">49</span>
           <span>/月</span>
       </div>

       <ul>

             <li>
                 <span class="hidden-md hidden-lg col-feature">
                     <i class="fa fa-user"></i>
                 </span>
                 不限
             </li>
             <li>
                 <span class="hidden-md hidden-lg col-feature">
                     <i class="fa fa-database"></i>
                 </span>
                 不限
             </li>
             <li>
                 <span class="hidden-md hidden-lg col-feature">
                     <i class="fa fa-database"></i>
                 </span>
                 不限
             </li>
             <li>
                 <span class="hidden-md hidden-lg col-feature">
                     <i class="fa fa-user"></i>
                 </span>
                 24小时 X 7天
             </li>
             <li>
                 <span class="hidden-md hidden-lg col-feature">
                     <i class="fa fa-user"></i>
                 </span>
                 购买
             </li>
             <li>
                 <span class="hidden-md hidden-lg col-feature">
                     <i class="fa fa-database"></i>
                 </span>
                 有
             </li>
             <li>
                 <span class="hidden-md hidden-lg col-feature">
                     <i class="fa fa-weixin"></i>
                 </span>
                 有
             </li>
             <li>
                 <span class="hidden-md hidden-lg col-feature">
                     <i class="fa fa-user"></i>
                 </span>
                 有
             </li>
             <li>
                 <span class="hidden-md hidden-lg col-feature">
                     <i class="fa fa-user"></i>
                 </span>
                 有
             </li>
           <li class="footer">
               <button class="btn btn-block btn-lg btn-primary">购买</button>
           </li>
       </ul>
  </div>
</div>
</div>
