<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>WeUI</title>
    <%= stylesheet_link_tag 'weui-rails', media: 'all' %>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.15/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <%= yield %>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {},
      methods: {}
    })
  </script>
</body>
</html>
