<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%= @shop.blank? ? "简餐" : @shop.name %></title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.3.0/weui.min.css"/>
    <%= stylesheet_link_tag 'weui-rails', media: 'all' %>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.15/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <div class="page">
      <%= yield %>
      <div class="fd">

      </div>
      <div class="weui_extra_area">
        <a href="http://www.jiancan.me">© 简餐网</a>
      </div>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {},
      methods: {}
    })
  </script>
</body>
</html>
